#myChangePassModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.forgot-popupclose.close(type='button', aria-label='Close')
              span(aria-hidden='true') ×
            h3#myModalLabel.modal-title Forgot Password
          .modal-body.n-p
            h4.p-r.p-l I forgot my password
            #div-forgotpassword
             p.p-r.p-l
               | Your password can be reset if you have forgotten it. A new password will be generated and e-mailed to the e-mail address associated with the provided username.
              form#form-forgotpassword(action='/resetpassword', method='post')
                .form-group.col-md-12
                     label#lbl-emailfailure.col-sm-8.text-danger.hide Failed to send email. Try again.
                .form-group.col-md-12
                  label.col-sm-3.control-label(for='username') UserName
                  .col-sm-6
                    input#username.form-control(type='text', placeholder='UserName', name='username',maxlength='20')
                .form-group.col-md-12
                  label.col-sm-3.control-label(for='email') Email
                  .col-sm-6
                    input#email.form-control(type='email', placeholder='Email', name='email',maxlength='50')
                .row
                 .col-md-12
                    hr.hr-light
                 .form-group.col-md-12
                  a.forgot-popupclose.btn.btn-default.pull-left.m-r.m-l(type='button', href='/') Close
                  .form-button
                   input.btn.btn-primary.pull-right.m-r.m-l(type='submit', value='Send Email')   
            #div-sendemail.hide
              p.p-r.p-l
               | Forgot password link has been sent your email. Click here to 
               a(href='/') Login.
              .row
                 .col-md-12
                    hr.hr-light
 
           
      