doctype html
html(lang='en')
    title #{title}
    include ../includes/_head.jade
  body.login-body
    .login-content
      #header-main.login-header
        .header-nav-brand
          .container.login-brand-container
            a.navbar-brand(href='./index.html', title='IS Corporate Identity')
              span.text IS Corporate Identity
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.header-nav-main')
              span.sr-only Toggle navigation
              i.icon.glyphicon.glyphicon-menu-hamburger
            button.navbar-toggle.collapsed(href='#', data-toggle='collapse', data-target='#header-main .header-search-bar')
              i.icon.glyphicon.glyphicon-search
        nav.collapse.navbar-collapse.login-header-main
          .container.login-container
            p.login-title Forgot Password
      .row
        .col-sm-4.col-sm-offset-4
          .card-container-s
           form(action="/sendpassword", method="post")
             img.profile-img-card-s(src='../assets/img/logos/is-logo-secondary.png')
             div.text-center #{data}
             input.form-control(type='text', placeholder='UserName', required='' name='username')
             input.form-control(type='email', placeholder='Email', required='' name='email')
             .form-button
               input.col-sm-12.btn.btn-primary(type='submit', value='Send Email')
      .footer
        .col-sm-12.login-footer
          a.contactus(title='Contact us', href='#') Contact us
          a.pull-right(title='Contact us', href='#') © 2015 Internet Solutions
          a.pull-right(title='Contact us', href='#') Legal
   include ../includes/_foot.jade