doctype html
html(lang='en')
    title IS-CP | Reset Password
    include ../includes/_head.jade
  body.login-body
    .login-content
      #header-main.login-header
        .header-nav-brand
          .container.login-brand-container
            a.navbar-brand(href='./index.html', title='IS Corporate Identity')
              span.text IS Corporate Identity
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.header-nav-main')
              span.sr-only Toggle navigation
              i.icon.glyphicon.glyphicon-menu-hamburger
            button.navbar-toggle.collapsed(href='#', data-toggle='collapse', data-target='#header-main .header-search-bar')
              i.icon.glyphicon.glyphicon-search
        nav.collapse.navbar-collapse.login-header-main
          .container.login-container
            p.login-title Reset Password
      .row
        .col-sm-4.col-sm-offset-4
          .card-container-s
           if reset !==true
            form(action="/resetpassword", method="post" name='resetpassword')
             img.profile-img-card-s(src='../assets/img/logos/is-logo-secondary.png')
             div.text-center.text-danger #{data}
             input(type='hidden' value="#{resetid}" name='resetid')
             input.form-control(type='text', placeholder='New Password', required='' name='newpassword')
             input.form-control(type='text', placeholder='Confirm Password', required='' name='confirmpassword')
             .form-button
               input.col-sm-12.btn.btn-primary(type='submit', value='Reset Password')
           else
            p Password Changed. Click here to login 
            button.btn.btn-default(type='button', onclick='location.href="/"') Login
      .footer
        .col-sm-12.login-footer
          a.contactus(title='Contact us', href='#') Contact us
          a.pull-right(title='Contact us', href='#') © 2015 Internet Solutions
          a.pull-right(title='Contact us', href='#') Legal
   include ../includes/_foot.jade