#myDeleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog.modal-sm(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title.text-danger Delete?
          .modal-body
            input#hdn-deleteid(type='hidden', name='deleteid')
            input#hdn-parentid(type='hidden', name='parentid')
            p#deletetext.lead Are you sure?
            p#p-deletetxt
          .modal-footer
            #deletebtndiv
             button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
             button#btn-delete.btn.btn-danger(type='button', data-dismiss='modal') Delete