footer#footer-main(role='contentinfo')
      .container-fluid
        .row
          .col-sm-12
            ul.list-inline.pull-left
              li Copyright © Internet Solutions. All rights reserved