head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='keywords', content='')
  meta(name='author', content='')
  meta(name='apple-mobile-web-app-capable', content='yes')

  block pageTitle

  link(rel='stylesheet', href='/assets/css/web-bundle.css')
  link(rel='stylesheet', href='/assets/css/sidemenu.css')
  link(rel='stylesheet', href='/assets/css/custom-cz.css')
  link(rel="stylesheet" href="/assets/css/animate.css")
  link(rel="stylesheet", href ="/assets/plugins/validator/bootstrapValidator.min.css")
  link(rel="stylesheet" href="/assets/plugins/toastr/toastr.css")
  link(rel='stylesheet', href='/assets/css/custom.css')

  block pageStyle

  link(rel='icon', href='~/Content/dist/assets//img/favicons/favicon.ico')
  link(rel='apple-touch-icon-precomposed', href='~/Content/dist/assets//img/favicons/apple-touch-icon-57x57-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='~/Content/dist/assets//img/favicons/apple-touch-icon-72x72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='76x76', href='~/Content/dist/assets//img/favicons/apple-touch-icon-76x76-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='~/Content/dist/assets//img/favicons/apple-touch-icon-114x114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='120x120', href='~/Content/dist/assets//img/favicons/apple-touch-icon-120x120-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='~/Content/dist/assets//img/favicons/apple-touch-icon-144x144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='152x152', href='~/Content/dist/assets//img/favicons/apple-touch-icon-152x152-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='180x180', href='~/Content/dist/assets//img/favicons/apple-touch-icon-180x180-precomposed.png')
  link(rel='icon', sizes='192x192', href='~/Content/dist/assets//img/favicons/touch-icon-192x192.png')
  //if lt IE 9
    script(src='~/Content/dist/assets//js/lib-ielt9.bundle.js')