extends ../layout/_fullwidth.jade

include mixins/_dashboardcontrol.jade
block pageTitle
  title ISCP | Home

block pageContent
 .container-fluid
   h1
      span#spn-title Admin Dashboard
   br  
   h4 Welcome to CaaS !!!
       
