.btn-group.environment-template.hide
  button.btn-primary.dropdown-toggle(type='button',area-expanded='false',data-toggle='dropdown',data-value='',data-key='')
      span#i-env-name
      span.icon.glyphicon.glyphicon-chevron-down    
    ul.dropdown-menu(role='menu')
       li
         a.edit-environment(href='#')
           span.glyphicon.glyphicon-edit
           |   Edit
       li
         a.delete-environment(href='#')
           span.glyphicon.glyphicon-remove
           |   Delete
       li.divider                           