mixin customers(items)
  each val in items
    if customerid == val.id         
       option(selected,value=val.id) #{val.companyname}
    else        
       option(value=val.id) #{val.companyname}
     
