#githublogsmodal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='messagemodalLabel')
    .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Git Commits : 
             | 
             span.spn-applicationname
          .modal-body
            table.table.table-striped.table-bordered.table-responsive.table-hover
             thead
              tr
               th Repo Name
               th Commit Id
               th Commit Date
               th GitHub Commit Log
             tbody
              tr
               td crm
               td c7bf7a7 
               td 17/5/2106 6:17:54 PM 
               td
                a(href='#') text
               