#messagemodal.modal.fade.z-index-msg(tabindex='-1', role='dialog', aria-labelledby='messagemodalLabel')
      .modal-dialog.w-350(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#messagemodalLabel.modal-title Information
          .modal-body
           span#messagemodalbodyicon
           span#messagemodalbody.p-l-20
           
          .modal-footer
            button.btn.btn-primary.pull-right(type='button', data-dismiss='modal') OK           