extends ../../layout/_fullwidth.jade

block pageTitle
  title ISCP | Manage User
block pageStyle
    link(rel="stylesheet" href="/assets/plugins/datatable/dataTables.bootstrap.min.css")
    link(rel="stylesheet" href="/assets/plugins/datatable/responsive.bootstrap.min.css")

block pageContent
    .row
      .col-sm-12
        h1 Customer: 
         a(href='/customer/view/#{customerid}') #{name}
        .col-md-8.col-sm-12
          p.lead
        .col-md-4.col-sm-12.text-center
          p.lead.pull-right
            a#spn-createuser.btn.btn-color_3(href='/user/create/#{customerid}/new')
               i.fa.fa-plus
               |  Add User
    .row
      .col-md-10.col-md-offset-1.col-sm-12
        .panel.panel-default
          .panel-heading
            .row
              .col-lg-3.text-center
                | Currently viewing users
                br
                strong
              .col-lg-7.text-center
                .input-group
                  input#hdn-customerid(type='hidden', value='#{customerid}')
                  input#adv-search-user.form-control(type='text', placeholder='Search for Customers')
                  .input-group-btn
                    button.btn.btn-default(type='button', aria-label='Help')
                      span.glyphicon.glyphicon-search
              .col-lg-2.text-center
               a#btn-refresh.btn.btn-color_4
                 i.fa.fa-refresh(aria-hidden='true') 
                 |     Refresh

                
          .panel-body(style='text-align: left;')
            table#tbl-manageuser.table.table-striped.table-bordered.table-responsive.table-hover.no-footer.table-th-info(role='grid')
block modals
    include ../../includes/_deletemodal.jade
block pageScript
   script(src="/assets/plugins/datatable/jquery.dataTables.min.js" type="text/javascript")
   script(src="/assets/plugins/datatable/dataTables.bootstrap.min.js" type="text/javascript")
   script(src="/assets/plugins/datatable/dataTables.responsive.min.js" type="text/javascript")
   script(src="/assets/plugins/datatable/responsive.bootstrap.min.js" type="text/javascript")
   script(src="/assets/plugins/datatable/fnReloadAjax.js" type="text/javascript")
   script(src="/assets/plugins/datatable/date-euro.js" type="text/javascript")

   script(src="/caasjslib/caasjslib.user.view.js" type="text/javascript")
   script(src="/caasjslib/caasjslib.user.eventhandler.js" type="text/javascript")
   script(src="/caasjslib/caasjslib.user.viewmodel.js" type="text/javascript")
   script.
    $(function () {
     var view = caasjslib.user.view;
     view.ManageUserInit();
    });